.form {
  max-width: 800px;
  margin: 1rem auto;
  background: #ffebcc;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-header {
  display: flex;
  gap: 1rem;
}

.form-content {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  gap: 1.8rem;
}

.side-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.list-items {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .2rem;
}

.extra-gap {
  gap: 2.2rem;
}

.w-40 {
  width: 40%;
  min-width: 12rem;
}

.w-50 {
  width: 50%;
  min-width: 13rem;
}

.overflow-y {
  overflow-y: hidden;
  transition: height 0.2s ease;
}

.max-content {
  min-width: max-content;
}

.form-input h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.25rem;
}

.larg-text-area {
  width: 100%;
}

.input-wraper {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.input-box {
  width: 100%;
  resize: none;
  padding: 0.75rem;
  border: 1px solid #cbcbcb;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-family: inherit;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-box:focus {
  border-color: #b49979;
  box-shadow: 0 0 0 3px rgba(252, 167, 93, 0.2);
  outline: none;
}

.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #b49979;
  color: white;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  user-select: none;
}

.div-button:hover {
  background-color: #7b583b;
}

.submit-button {
  padding: 0.75rem 1.5rem;
  background-color: #00b893b1;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  align-self: flex-end;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: #019875;
}

.input-wraper input[type="number"] {
  width: 100px;
}