.center-header {
    width: max-content;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: .5rem 3rem;
    border-radius: 0px 0px 5px 5px;
    background-color: #f6e9da;
    border-bottom: 2px solid #e0e0e0;
}

.header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-link {
    font-size: 1.1rem;
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.2s, color 0.2s;
}

.header-link:hover {
    background-color: #ffebcc;
    color: #000;
}